{% extends 'base.html' %}
{% block titulo %}DBGraphics{% endblock %}
{% block contenido %}

{% include '_menu.html' %}

<canvas id="myChart" width="2000" height="400"></canvas>
{% endblock %}
<script>
    var ctx = document.getElementById('myChart')
    var myChart = new Chart(ctx, {
        type: 'bar',
        data:{
            datasets: [{
                label: "Something 1",
                backgroundColor: ['#6bf1ab','#63d69f','#438c6c','#509c7f','#1f794e','#34444c','#90cAF9','#64B5F6','#42A5F5','#2196F3','#0D47A1'],
                borderColor: ['black'],
                borderWidth: 1
            }]
        },
        options:{
            scales:{
                y:{
                    beginAtZero: true
                }
            }
        }
    })

    fetch(`/graphics/grupo_etario.csv`)
        .then( response => response.json() )
        .then( datos => mostrar(datos) )
        .catch( error => console.log(error) )

    const mostrar = (personas) =>{
        personas.forEach(element => {
            myChart.data['labels'].push(element.header)
            myChart.data['datasets'].data.push(element.body)
        });
    }

    
</script>
